ul {
  border: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.list {
  color: #111;
  padding: 10px;
}

li.list:nth-child(odd) {
  background: #EFEFEF;
}
li.list:nth-child(even) {
  background: #FFFFFF;
}

input.dark {
  color: #111;
}

.pull-right {
  margin-top: -8px;
  margin-left: 3px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }